[Unit]
Description=Oracle OSWatcher
Documentation=https://support.oracle.com/epmos/faces/DocumentDisplay?id=1531223.1

[Install]
WantedBy=basic.target

[Service]
Type=simple
User=oracle
WorkingDirectory=/home/oracle/OSW/oswbb
ExecStart=/home/oracle/OSW/oswbb/OSWatcher.sh 60 720 gzip /home/oracle/OSW_logs
ExecStop=/home/oracle/OSW/oswbb/stopOSWbb.sh
Restart=always
# time to sleep before restarting a service
RestartSec=3
StandardOutput=journal
SyslogIdentifier=oswatcher
